# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/web-store?schema=public"

REDIS_HOST="127.0.0.1"
REDIS_PORT="6379"
REDIS_PASSWORD="eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81"

EMAIL_USER=
EMAIL_PASS=

COOKIE_SECRET="uiauiauiaaaaa"
ACCESS_TOKEN_SECRET="uiauiauiaaaaa"
REFRESH_TOKEN_SECRET="uiauiauiaaaaa"
ACCESS_TOKEN_TIME_LIFE="1h"
REFRESH_TOKEN_TIME_LIFE="7d"

JWT_SECRET=your_super_secret_key
JWT_EXPIRES_IN=1d

SUPABASE_DATABASE_PASSWORD=
SUPABASE_PROJECT_URL=
SUPABASE_PROJECT_API_KEY=
SUPABASE_ACCESS_KEY_ID=
SUPABASE_SECRET_ACCESS_KEY=